<div  class="animate__animated animate__fadeIn animate__faster">
  <h3>Search by Capital Name</h3>
  <hr>
</div>

<div class="row">
    <div class="col">
       <app-country-input
       (onEnter)="search( $event )"
       (OnDebounce)="suggestions( $event )"
       placeholder="Search country by capital name"
       >
    </app-country-input>
    </div>
</div>
<hr>
<div *ngIf="thereError" class="alert alert-danger">
  Not found any result with term: Search Term
</div>

<div *ngIf="!thereError" class="row">
    <div class="col">
       <app-country-table [countries]="countries"> </app-country-table>
    </div>
</div>
